<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.siddharth.khelkhelo">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>

    <application

        android:allowBackup="true"
        android:icon="@mipmap/logocri"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logocri"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_qAEf7ZTvaYB28w"></meta-data>

        <activity android:name=".Result"
            android:parentActivityName=".MainActivity"></activity>

        <activity android:name=".ResultDisplay"
            android:parentActivityName=".MainActivity"></activity>

        <activity android:name=".Paymentgatway.Payment"
            android:parentActivityName=".MainActivity"></activity>

        <activity android:name=".DisplayImage"
            android:parentActivityName=".MainActivity"></activity>

        <activity android:name=".Team_CSK"
            android:parentActivityName=".Team"></activity>
        <activity android:name=".DescriptionAct"></activity>
        <activity android:name=".PointTable"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".Team"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".Team_RCB"
            android:parentActivityName=".Team"></activity>
        <activity android:name=".Team_KKR"
            android:parentActivityName=".Team"></activity>
        <activity android:name=".Schedule"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".TeamDD"
            android:parentActivityName=".Team"></activity>
        <activity
            android:name=".Imagetoserver"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".Venue"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".vedio.Vedio"></activity>
        <activity android:name=".Team_MI"
            android:parentActivityName=".Team"></activity>
        <activity android:name=".Team_KINGS"
            android:parentActivityName=".Team"></activity>
        <activity android:name=".Team_RR"
            android:parentActivityName=".Team"></activity>
        <activity android:name=".Team_SRH"
            android:parentActivityName=".Team"></activity>
        <activity android:name=".Account.Login_Activity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".Account.SignupActivity"
            android:parentActivityName=".Account.SignupActivity"></activity>
        <activity android:name=".Account.ResetPasswordActivity"></activity>
        <activity
            android:name=".newpac.VideosActivity"

            android:configChanges="orientation|keyboardHidden|screenSize"
           >
        </activity>
        <activity android:name=".Logout"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity android:name=".Feedback"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Account.MainActivity"></activity>

        <activity android:name=".AboutApp"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Imagetophoto"></activity>
        <activity android:name=".Photo"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".Archive"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".Tab_For_Score"
            android:parentActivityName=".MainActivity"></activity>

        <activity android:name=".Home.DisplayScored"></activity>
        <activity android:name=".Info_Activity"
            android:parentActivityName=".ResultDisplay" />
        <activity android:name=".Scored"></activity>
        <activity android:name=".BattingScore"
            android:parentActivityName=".Info_Activity"/>
        <activity android:name=".BattingScore_two"
            android:parentActivityName=".Info_Activity"/>
        <activity android:name=".imagetoschedule.ImageToDB" />
        <activity android:name=".Admin.Resulttodb" />
        <activity android:name=".ScheduleUpload" />

    </application>

</manifest>